{% extends "base.html.j2" %} 
{% block title %}Dashboard - CuraVie{% endblock %}
{% block content %}
<div class="container dashboard-container">
    <div class="dashboard-header">
        <h1><span data-translate-key="dashboard_welcome">Welcome</span>, {{ current_user.username }}!</h1>
    </div>

    <div class="card">
        <div class="profile-header" style="display: flex; justify-content: space-between; align-items: center;">
            <h2 data-translate-key="dashboard_profile_title">Your Worker Profile</h2>
            <a href="{{ url_for('edit_details') }}" class="btn btn-secondary" data-translate-key="dashboard_edit_details">Edit Personal Details</a>
                {# STEP 2 #}
                {# Yaha pe health records ka link dalna hai , if user clicks that he will be redirected to that page. #}
                {# Look in this file only , how such a link is generated #}
            <a href="{{ url_for('facility_details') }}"  class="btn btn-secondary" data-translate-key="healthcare_facility">Edit Healthcare Facility Details</a>
        </div>
        
        <hr style="margin: 1rem 0;">
        {% if current_user.worker %}
            <p><strong data-translate-key="dashboard_name_label">Name:</strong> {{ current_user.worker.first_name }} {{ current_user.worker.last_name }}</p>
            <p><strong data-translate-key="dashboard_occupation_label">Occupation:</strong> {{ current_user.worker.occupation.value }}</p>
            <p><strong data-translate-key="dashboard_homestate_label">Home State:</strong> {{ current_user.worker.home_state }}</p>
        {% else %}
            <p data-translate-key="dashboard_no_details">You have not filled out your worker details yet. Please edit your details to add them.</p>
        {% endif %}
    </div>
</div>
{% endblock %}