{% extends "base.html.j2" %}
{% block title %}Dashboard - CuraVie{% endblock %}
{% block content %}

<div class="welcome-text">
  <h1> Welcome, {{ current_user.username }}!</h1>
  <form action="{{ url_for('logout') }}" method="POST">
    {{ form.hidden_tag() }} <button type="submit">Logout</button>
  </form>
</div>

{% endblock %}