{% extends "base.html.j2" %}

{% block title %}Home - CuraVie{% endblock %}

{% block content %}
    <h1 class="SuperText">Welcome to CuraVie</h2>
    <h2> This is for informational purposes only. For medical advice or diagnosis, consult a professional.</h2>
{% endblock %}
